/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* customcode */

body{
    padding-top: 150px;
    text-align: center;
    /* background-image: url("https://ik.imagekit.io/d9mvewbju/Course/BigbinaryAcademy/yellow-container-background_O_HTT_hh3.avif"); */
    
    font-family: "Roboto", sans-serif;
}


.container{
    max-width: 800px;
    width: 90%;
    margin: auto;
    background-color: rgb(228, 235, 101);
    border-radius: 10px;
    padding: 15px 20px;
}

h1{
    font-size: 2rem;
    font-weight: 900;
    margin: 20px;
}

#passwordContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 10px;
    min-height: 2rem;
}

#passwordDisplayArea{
    max-width: 500px;
    width: 90%;
    font-size: 1.4rem;
    word-break: break-all;
}

button{
    background-color: green;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    margin-left: 20px;
    padding:10px;
}

button:hover{
    background-color: rgb(26, 168, 26);
    cursor: pointer;
}

button:active{
    transform: scale(1.04);
    transition: ease-out .1s;
}

p{
    text-align: left;
    font-size: 18px;
}

#characterCount{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#characterCountDisplay{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}

label{
    font-size: 1.17rem;
    margin-right: 16px;
}

#moreInfos{
    display: flex;
    justify-content: center;
    margin: 50px;
    text-align: left;
}

#moreinfo1{
    margin: 0 60px;
    width: 250px;
}
#moreinfo2{
    width: 250px;
}
h3{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 30px;
}

ul{
    list-style: disc;
}

li{
    font-size: 18px;
    margin: 10px;
}
